

    <div class="bg-light p-4 mb-4 rounded shadow-sm">
        <div class="container">
            <h1 class="display-5">Kitap Yönetimi</h1>
            <p class="lead">Kütüphanedeki kitapları listeleyebilir, yeni kitaplar ekleyebilir ya da düzenleyebilirsiniz.</p>
        </div>
    </div>

